<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>Todo App</title>
</head>
<body>
  <h1>Todo App</h1>
  <p th:if="${message != null}" th:text="${message}"></p>
  <a th:href="@{/create}">
    <button>add todo</button>
  </a>
<ul>
  <li th:each="todo : ${todoList}">
    <p th:text="${todo.name}"></p>
    <div>
      <a th:href="@{'/update/'+${todo.id}}">
        <button>edit</button>
      </a>
    </div>
    <div>
      <a th:href="@{'/delete/'+${todo.id}}">
        <button>remove</button>
      </a>
    </div>
  </li>
</ul>
</body>
</html>